.GCNotification {
  display: block;
  padding: 0.625rem 1.25rem;
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.GCNotificationContainer {
  width: 50%;
  max-width: 400px;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.GCNotification__banner,
.GCNotification__toast {
  width: 100%;
}

.GCNotification--msg {
  color: rgba(255, 255, 255, 0.95);
}

.GCNotification--close {
  padding: 5px;
  width: 12px;
  height: 14px;
  position: absolute;
  top: 5px;
  right: 7px;
}

.GCNotification--close:hover {
  cursor: pointer;
}

.GCNotification--close-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.GCNotification--timer {
  height: 5px;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  left: 0;
}

.GCNotification__success {
  background-color: #06d799;
}

.GCNotification__info {
  background-color: #06acd7;
}

.GCNotification__warning {
  background-color: #d77106;
}

.GCNotification__danger {
background-color: #d7063f;
}

/*   Animations   */
/*================*/
.gcn-decreaseTimer {
  animation-name: decreaseTimer;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.gcn-enter {
  animation-name: enter;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.gcn-exit {
  animation-name: exit;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes enter {
  0%    { left: 100%; }
  100%  { left: 0%; }
}

@keyframes exit {
  0%    { left: 0%; }
  100%  { left: 150%; }
}

@keyframes decreaseTimer {
  0%    { width: 100%; }
  100%  { width: 0%; }
}
