.GCNotification {
  display: block;
  padding: 0.625rem 1.25rem;
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;
}

.GCNotification__banner {
  width: 100%;
}

.GCNotification__toast {
  width: 50%;
  max-width: 400px;
}

.GCNotification--msg {
  color: rgba(255, 255, 255, 0.95);
}

.GCNotification--close {
  padding: 5px;
  width: 12px;
  height: 14px;
  position: absolute;
  top: 5px;
  right: 7px;
}

.GCNotification--close:hover {
  cursor: pointer;
}

.GCNotification--close-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.GCNotification--timer {
  height: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  left: 0;
}

/*.GCNotification--timer-full {
  width: 100%;
}

.GCNotification--timer-empty {
  width: 0%;
}*/

.GCNotification__success {
  background-color: #06d799;
}

.GCNotification__info {

}

.GCNotification__warning {

}

.GCNotification__danger {
background-color: #d7063f;
}

/*   Animations   */
/*================*/
.gcn-decreaseTimer {
  animation-name: decreaseTimer;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes decreaseTimer {
  0%    { width: 100%; }
  100%  { width: 0%; }
}
